body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: ivory;
    margin: 0;
    padding: 0;
}
body>*, section>*{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color: rgb(139, 54, 54);
    flex: 1 2 12%;
}
nav{
    background-color: rgb(134, 111, 175);
    flex: 1 1 7%;
}
footer{
    background-color: rgb(63, 139, 129);
    flex: 1 1 7%;
}
section{
    flex: 8 0 60%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
main{  
    background-color: rgb(75, 120, 133);
    flex-grow: 5;  
    flex-shrink: 2;
}
aside{
    background-color: rgb(114, 88, 64);
    flex-grow: 1;
    flex-shrink: 0;
}
@media (max-width: 500px){
    section{
        flex-direction: column;
    }
}